.main-card {
	position: relative;
	background-color: $primary-white;
	box-shadow: $primary-shadow;
	border-radius: $primary-radius;
	height: fit-content;
	width: 100%;
	padding: 38px;
	margin: 2rem 0;

	.card-content {
		h2 {
			font-weight: 700;
			font-size: $font-large;
			line-height: 39px;
			color: $primary-blue;
		}

		.card-buttons-container {
			.MuiCardActions-root {
				display: flex;
				justify-content: space-between;
				width: 100%;
				padding: 0px;
				margin-top: 18px;
	
				.MuiButtonBase-root.MuiButton-root.MuiButton-contained {
					display: flex;
					justify-content: center;
					align-items: center;
					width: 35%;
					min-width: 120px;
					height: 44px;
					padding: 20px;
					background: $gradient-blue;
					border-radius: $primary-radius;
					font-weight: 500;
					font-size: $font-small;
					line-height: 150%;
					color: $primary-white;
					text-transform: unset;
					box-shadow: none;

					&.outlined-button {
						background: transparent;
						border: 1px solid $primary-blue;
						color: $primary-blue;
					}
				}
			}
		}

		.card-inner {
			.card-col {
				width: 100%;
				.card-info {
					margin: 18px 0px;
					font-size: $font-small;
					display: flex;
					width: 100%;
					justify-content: space-between;
					flex-wrap: wrap;
					p {
						flex: 0 0 25%;
						max-width: 25%;
					}

					.items-list {
						flex: 0 0 75%;
						max-width: 75%;
					}
				}
			}
		}
	}
}
