@import './variables.scss';

.dashboard-container {
	header {
		background: $primary-black;
		box-shadow: 10px 10px 100px 10px rgba(0, 0, 0, 0.25);
		border-radius: $primary-radius;
		.MuiButtonBase-root.Mui-disabled {
			color: $primary-blue;
		}
	}

	.main-dashboard {
		display: flex;
		gap: 38px;
		margin: 64px 0px;
		position: relative;
		background-color: $primary-white;
		box-shadow: $primary-shadow;
		border-radius: $primary-radius;
		height: fit-content;
		width: 100%;
		padding: 38px;
	}

	.primary-dashboard {
		flex: 0 0 75%;
		max-width: 75%;
		display: flex;
		flex-direction: column;
		gap: 64px;
	}

	.secondary-dashboard {
		.MuiCollapse-wrapper.MuiCollapse-vertical .MuiAccordionDetails-root {
			padding: 0px;
			padding-bottom: 4px;
		}

		.reset-all-filter-button {
			width: 100%;
			cursor: pointer;
			background-color: $primary-blue;
			border-radius: $primary-radius;
			color: $primary-white;
			font-size: $font-small;
			display: flex;
			align-items: center;
			justify-content: center;
			min-height: 30px;
			margin: 38px 0px;
		}
	}

	.dashboard-title {
		color: $primary-black;
		font-family: $primary-font;
		font-weight: 700;
		font-size: $font-large;
		line-height: 39px;
	}

	.filters-wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 38px 0px;

		svg {
			margin-right: 21px;
		}
	}

	.filter-title {
		color: $primary-black;
		font-weight: 500;
		font-size: $font-medium;
		line-height: 23px;
		padding: 20px 0px;
	}

	.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded {
		box-shadow: none;
		border-top: 1px solid $primary-grey;
		border-bottom: 1px solid $primary-grey;
		background-color: transparent;
		margin: 10px 0px;

		.MuiButtonBase-root.MuiAccordionSummary-root.MuiAccordionSummary-gutters {
			padding: 0px;
			padding-right: 21px;
			background-color: transparent;

			.MuiAccordionSummary-content.MuiAccordionSummary-contentGutters {
				margin: 0px;
			}
		}
	}
}
