// SPDX-License-Identifier: MIT
// SPDX-FileCopyrightText: 2023 Julian Tochman-Szewc <tochman-szewc@campus.tu-berlin.de>
// SPDX-FileCopyrightText: 2023 Shahraz Nasir <shahraz.nasir@campus.tu-berlin.de>
// SPDX-FileCopyrightText: 2023 Ziqi He <ziqi.he@fau.de>
@import './variables.scss';

.dashboard-container {
	margin: auto;
	max-width: 2100px;

	header {
		background: $primary-black;
		position: absolute;
		left: 0;
		top: 0;
		box-shadow: 10px 10px 100px 10px rgba(0, 0, 0, 0.25);
		.MuiButtonBase-root.Mui-disabled {
			color: $primary-blue;
		}
	}

	.main-dashboard {
		display: flex;
		gap: 38px;
		margin: 100px 0px;
		position: relative;
		background-color: $primary-white;
		box-shadow: $primary-shadow;
		border-radius: $primary-radius;
		height: fit-content;
		width: 100%;
		padding: 38px;
	}

	.primary-dashboard {
		flex: 0 0 75%;
		max-width: 75%;
		display: flex;
		flex-direction: column;
		gap: 64px;
		position: relative;
		.dashboard-header {
			justify-content: space-between;
		}
	}

	.secondary-dashboard {
		flex: 0 0 25%;
		max-width: 25%;
		padding-right: 38px;
		display: flex;
		flex-direction: column;

		.MuiCollapse-wrapper.MuiCollapse-vertical .MuiAccordionDetails-root {
			padding: 0px;
			padding-bottom: 4px;
		}
	}

	.dashboard-title {
		color: $primary-black;
		font-family: $primary-font;
		font-weight: 700;
		font-size: $font-large;
		line-height: 39px;
	}

	.dashboard-subtitle {
		color: $darker-grey;
		font-family: $primary-font;
		font-size: $font-medium;
		margin-bottom: 34px;
	}

	.filters-wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 34px 0px 0px 0px;
		&.filters-wrapper-mobile {
			display: none;
		}

		svg {
			margin-right: 21px;
		}
	}

	.filter-title {
		color: $primary-black;
		font-weight: 500;
		font-size: $font-medium;
		line-height: 23px;
		padding: 20px 0px;
	}

	.filter-wrapper {
		max-height: 300px;
		overflow: auto;
	}

	.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded:not(.MuiAlert-root) {
		box-shadow: none;
		border-top: 1px solid $primary-grey;
		border-bottom: 1px solid $primary-grey;
		background-color: transparent;
		margin: 10px 0px;

		.MuiButtonBase-root.MuiAccordionSummary-root.MuiAccordionSummary-gutters {
			padding: 0px;
			padding-right: 21px;
			background-color: transparent;

			.MuiAccordionSummary-content.MuiAccordionSummary-contentGutters {
				margin: 0px;
			}
		}
	}
}


