.MuiFormControl-root.MuiTextField-root.primary-textfield {
	width: 100%;

	.MuiInputBase-root {
		height: 61px;
		font-size: $font-medium;
		padding: 15px 21px;
		border-radius: $primary-radius;
		background: #E5E5E5;

		input {
			padding: 0px;
		}
	}
}

.MuiButton-root.primary-button {
	background-color: $primary-blue;
	color: $primary-white;
	text-transform: unset;

	&:hover {
		color: $primary-blue;
		background-color: $primary-white;
		border: 1px solid $primary-blue;
	}
}

.MuiButtonBase-root.MuiIconButton-root.icon-wrapper {
	padding: 0px;
}

.custom-checkbox-wrapper, .custom-radio-wrapper {
	gap: 16px;
	align-items: center;
	margin-bottom: 16px;

	.custom-checkbox {
		border: 1px solid $dark-grey;
		border-radius: 3px;
		background-color: transparent;
		width: 16px;
		height: 16px;
		cursor: pointer;
		
		&.custom-radio {
			border-radius: 100%;
		}

		&.active {
			background-color: $primary-blue;
			border: 1px solid $primary-blue;
		}
	}

	p {
		max-width: 225px;
		word-break: break-all;
		white-space: normal;
		font-weight: 400;
		font-size: $font-small;
		line-height: 19px;
	}
}
