// SPDX-License-Identifier: MIT
// SPDX-FileCopyrightText: 2023 Julian Tochman-Szewc <tochman-szewc@campus.tu-berlin.de>
// SPDX-FileCopyrightText: 2023 Shahraz Nasir <shahraz.nasir@campus.tu-berlin.de>
// SPDX-FileCopyrightText: 2023 Ziqi He <ziqi.he@fau.de>
@import './variables.scss';

.MuiModal-root {
	border-radius: $primary-radius;
}

.modal-info {
	display: flex;
	justify-content: space-between;
	font: $primary-font;
	padding: 0.5rem 0;
	.title {
		font-weight: 600;
	}
	.detail {
		color: grey;
	}
}


.modal-box.MuiBox-root {
	background-color: $primary-white;
	width: 80%;
	height: 100%;
	top: 50px;
	overflow-y: hidden;
	max-height: calc(100vh - 100px);
	padding-top: 0px;
	position: relative;
	margin: 0 auto;
	border-radius: $primary-radius;
	box-shadow: $primary-shadow;
	.modal-box-inner.MuiBox-root {
		width: 100%;
		height: 100%;
		padding: 34px;
		overflow-y: scroll;
		-ms-overflow-style: none;  /* Internet Explorer 10+ */
		scrollbar-width: none;  /* Firefox */
		background-color: transparent;
		justify-content: center;
		&::-webkit-scrollbar { 
			display: none;  /* Safari and Chrome */
		}
		.info-logo {
			width: 20%;
		}
		.modal-content {
			display: flex;
			flex-direction: column;
			justify-content: center;
			gap: 30px;
			max-width: 1000px;
			&.messages-container {
				margin-bottom: 32px;
			}
			.modal-title {
				color: $primary-black;
				font-family: $primary-font;
				font-weight: 700;
				font-size: $font-medium;
			}
			.message-filter {
				display: flex;
				gap: 18px;
				align-items: center;
			}
			.project-description {
				text-align: center;
			}
			.triple-icon-text {
				display: flex;
				justify-content: space-between;
				gap: 34px;
				.single-icon-text {
					display: flex;
					align-items: center;
					text-align: center;
					flex-direction: column;
					gap: 18px;
					svg {
						width: 34px;
						height: 34px;
						fill: $primary-blue;
					}
				}
			}
		}
		.MuiButtonBase-root.MuiButton-root.MuiButton-contained {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 120px;
			height: 44px;
			padding: 20px;
			background: $gradient-blue;
			border-radius: $primary-radius;
			font-weight: 500;
			font-size: $font-small;
			line-height: 150%;
			color: $primary-white;
			text-transform: unset;
			box-shadow: none;
			&.more-info-button {
				width: 180px;
			}
		}
	}
}

.close-modal-button.MuiButtonBase-root.MuiIconButton-root {
	position: absolute;
	right: 34px;
	top: 34px;
	background: $gradient-blue;
	color: $primary-white;
	padding: 10px;
	z-index: 1;
}
