$primary-white: #f9f9f9;
$primary-black: #242424;
$secondary-black: #8b8b8b;
$primary-blue: #3a90ff;
$primary-grey: #d9d9d9;
$dark-grey: #a4a4a4;
$light-grey: #d9d9d9;
$gradient-blue: linear-gradient(
	99.58deg,
	#569efb 58.7%,
	#5495e9 76.71%,
	#3a90ff 95.21%
);
$primary-shadow: 10px 10px 120px 10px rgba(0, 0, 0, 0.15);
$primary-radius: 25px;
$primary-font: 'Roboto', sans-serif;
$font-small: 16px;
$font-medium: 20px;
$font-large: 33px;
$font-xlarge: 39px;

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;
// Small tablets (portrait view)
$screen-md-min: 768px;
// Tablets and small desktops
$screen-lg-min: 992px;
// Large tablets and desktops
$screen-xl-min: 1200px;
