$primary-white: #F9F9F9;
$primary-black: #242424;
$secondary-black: #8B8B8B;
$primary-blue: #3A90FF;
$primary-grey: #D9D9D9;
$dark-grey: #A4A4A4;
$light-grey: #D9D9D9;
$gradient-blue: linear-gradient(99.58deg, #569EFB 58.7%, #5495E9 76.71%, #3A90FF 95.21%);
$primary-shadow: 10px 10px 120px 10px rgba(0, 0, 0, 0.15);
$primary-radius: 25px;
$primary-font: 'Roboto', sans-serif;
$font-small: 16px;
$font-medium: 20px;
$font-large: 33px;
$font-xlarge: 39px;